<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布局相关内容</title>
    <script src="../../static/js/jquery-1.9.1.min.js"></script>
    <script src="../../static/js/layout.js"></script>

    <link rel="stylesheet" href="../../static/css/layout.css">
</head>
<body>
<div id="title">
    <h3>
        获取corsface页面的样式，进行布局操作。
    </h3>
</div>
<div>
    <h3>
        （1）门头和边框操作，最大背景颜色
    </h3>
    <div class="bg_header_1">
        <div class="bg_header_2">
            <div class="bg_header_3">
                <span id="name">子陵</span>
                "长江碧水东流"
            </div>
        </div>
    </div>
</div>
<div>
    <h3>
        （2）select的选项操作和修饰，需要配置js操作。
    </h3>
    <div>
        
    </div>
</div>
</body>
</html>